opencv-python>=4.8.0
numpy>=1.24.0
python-dotenv>=1.0.0
requests>=2.31.0
pymongo>=4.8.0

insightface>=0.7.3
onnxruntime>=1.16.0
ultralytics>=8.2.0

SpeechRecognition>=3.10.0
PyAudio>=0.2.14
faster-whisper>=1.0.3
pyttsx3>=2.90
mss>=10.0.0
